.DS_Store
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
horilla_mobile/.dart_tool/
horilla_mobile/build/
horilla_mobile/.flutter-plugins
horilla_mobile/.flutter-plugins-dependencies
